.search-icon, .close-icon {
    height: 20px;
    width: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: none;
}

.search-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-results-container {
    max-height: 250px;
    overflow-y: auto;
}