.logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

.navbar > a:hover {
    color: #5271FF;
    transition: 0.3s;
}

