.logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-section > a {
    text-decoration: none;
    color: gray;
}

.navbar > a:hover {
    color: #5271FF;
    transition: 0.3s;
}

.navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    border-left: 1px solid lightgray;
    height: 40px;
    margin: 0;
    margin-left: -5px;
    padding: 0;
}

hr {
    border: 0.5px solid lightgray;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}