.search-result {
    text-decoration: none;
    color: #5271FF;
    font-weight: bold;
    font-size: 3vmin;
}

.search-result:hover {
    color: #004aad;
    transition: 0.3s;
}

.search-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vmin;
    min-width: 20vmin;
    max-height: 10vmin;
    max-width: 20vmin;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin: 20px;
    padding: 20px;
}