.campaign-horizontal-scroll {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 30vmin;
    width: 100vmin;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.campaign-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.arrow {
    opacity: 30%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.arrow:hover {
    opacity: 100%;
    transition: 0.3s;
}

.category {
    color: #5271FF;
}

.center-contents {
    justify-content: center;
}