.campaign-horizontal-scroll {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 20vmin;
    width: 100vmin;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.campaign-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.arrow {
    opacity: 30%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.arrow:hover {
    opacity: 100%;
    transition: 0.3s;
}