.campaign-page-name, .campaign-page-raised, .campaign-page-goal {
    font-weight: bold;
}

.campaign-page-raised {
    color: #1ed5c3;
}

.campaign-page-goal {
    color: #10a275;
}

.countdown-icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 3px;
}

.time-close-message {
    margin-bottom: 20px;
    font-size: 20px;
}

.edit-button {
    text-decoration: none;
    color: white;
}

.delete-confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.edit-delete-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}